In [1]:
import pandas as pd

In [2]:
# Example DataFrame
data = {'A': ['Group1', 'Group1', 'Group2', 'Group2', 'Group3', 'Group3'],
        'B': [10, 20, 20, 30, 10, 50]}

df = pd.DataFrame(data)

In [3]:
df

        A   B
0  Group1  10
1  Group1  20
2  Group2  20
3  Group2  30
4  Group3  10
5  Group3  50

In [4]:
# Value we are searching for in column B
value_to_find = 20

In [5]:
# Grouping by column A and applying the condition on column B
groups_with_value = df.groupby('A').filter(lambda group: value_to_find in group['B'].values)

In [6]:
# Get unique group names where the condition is met
result = groups_with_value['A'].unique()

# Display the result
print("Groups that contain the value", value_to_find, "in column B:", result)

Groups that contain the value 20 in column B: ['Group1' 'Group2']